RewriteEngine On
 
RewriteRule ^article2$ /Aquamaof-breaks-ties-with-8F-and-Pure-Salmon/ [END,R=301]
RewriteRule ^article3$ https://therasblog.com/Head-of-8F-involved-in-cannabis-industry/ [END,R=301]

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
