<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
RewriteRule ^article2/(.*)$ /Aquamaof-breaks-ties-with-8F-and-Pure-Salmon/$1 [R=301,NC,L]
</IfModule>
